* {
  box-sizing: border-box;
  padding: 0; 
  margin: 0; 
}

body {
  background-color: rgb(154, 154, 236);
}

a {
  color: white;
  text-decoration: none; 
}

a:hover {
  color: darkgrey; 
}

#top {
  display: flex; 
  justify-content: space-around;
  height: 100px; 
}

.top ul {
  display: flex; 
  justify-content: space-evenly;
  list-style-type: none;
  color: white;
  font-size: 18px; 
  margin-top: 25px;
}

.top li {
  display: inline;  
}

header {
  background-color: grey;  
  opacity: 0.5;
  font-size: 20px;
  font-weight: bold;
  width: 80%; 
  margin-left: 160px;    
}

header li {
  display: inline-block;  
  list-style-type: none;
  text-decoration: none;
  margin-left: 150px; 
  padding-top: 30px;
}

/* .btn {
  border: 5px white solid; 
  height: 100px; 
  width: 100px; 
  border-radius: 30px;
  background-color: skyblue;
  color: white;
  font-size: 20px;
  margin-top: 20px;  
} */

.sidebar { 
  display: flex;  
  width: 60%;
  height: 350px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 20px; 
}

.sidebar p {
  color: white; 
  font-weight: bold;
  font-size: 30px;
  margin: 100px; 
  line-height: 50px; 
}

.sidebar ul {
  list-style-type: none;
  background-color: grey;
  opacity: 0.5;
}

.sidebar li{
  text-align: center; 
  margin: 50px; 
}

footer {
  display: flex; 
  justify-content: space-evenly;
  background-color: grey;
  opacity: 0.5; 
  color: white; 
  height: 25%;
  width: 80%; 
  margin-top: 25px;
  margin-left: 230px; 
}

footer p {
  font-size: 20px;
  margin: 30px; 
}

footer li {
  list-style-type: none;
  line-height: 15px; 
  margin: 5px; 
}





